@import url('./Style.css');

/* 
 *--------------------------
 * Styling - Header (Navbar)
 *--------------------------
*/

body {
    margin: 0;
    background-color: var(--bgColor);
    color: var(--headerTextColor)
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--purpleColorLighter), var(--blueColorDarker));
    color: white;
}

.navbar-title {
    margin-right: auto;
    font-size: 200%;
    padding: 12px 16px;
    font-family: DynaPuff;
    text-decoration: none;
    color: var(--headerTextColor);
}

.navbar-item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    font-family: Ubuntu;
    font-size:16px;
}